body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #999999;
    margin: 0;
    line-height: 1.6;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/* Header */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 30px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}

/* Nav */
.nav {
    display: flex;
    align-items: center;

    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    position: relative;

    margin: 0 25px;

    text-decoration: none;
    color: #fff;

    transition: color 0.2s linear;
}

.nav__link:hover {
    color: #835b05;
}

.nav__link::after {
    content: '';
    display: block;

    height: 3px;
    width: 100%;

    position: absolute;
    top: 100%;
    z-index: 1;

    background-color: #835b05;

    opacity: 0;
    transition: opacity 0.2s linear;
}

.nav__link:hover::after {
    opacity: 1;
}

/* Intro */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background-image: url('../images/intro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 900px;

    margin: 0 auto;

    text-align: center;

}

.intro__suptitle {
    margin-bottom: 30px;


    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    font-size: 72px;
    color: #fff;
}


.intro__title {
    line-height: 0.93333;
    color: #fff;
    font-weight: 700;
    font-size: 150px;
    text-transform: uppercase;
}


.intro__title::after {
    content: '';
    display: block;

    width: 60px;
    height: 5px;

    margin: 65px auto 50px;

    background-color: #fff;
}


.intro__btn {
    padding: 12px 30px;

    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid #fff;

    transition: background-color 0.2s linear;
}

.intro__btn:hover {
    color: #000;
    background-color: #fff;
}


/* Slider */
.slider {
    width: 100%;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    position: relative;

    padding-top: 20px;
    border-top: 3px solid #fff;


    color: #fff;
    font-size: 18px;
    text-transform: uppercase;

    opacity: 0.7;
}



.slider__item.active {
    opacity: 1;
}

.slider__item.active::before {
    content: '';
    display: block;
    height: 3px;
    width: 25%;
    background-color: #ac1d1d;

    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider_num {
    font-size: 24px;
    font-weight: 700;
}


/* Section */
.section {
    padding: 90px 0;
}

/* Section header */
.section__header {
    width: 100%;
    max-width: 960px;
    margin: 0 auto 40px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    color: #333333;
    font-size: 24px;
    font-weight: 400;
}

.section__title {
    font-size: 30px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}

.section__text {
    margin: 0;

    font-family: 'Roboto', sans-serif;
    margin-bottom: 90px;
}


.section__title::after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    margin: 40px auto;

    background-color: #f38181;
}

/* Section about */
.section__about {
    display: flex;

    justify-content: space-between;
}

.about__item {
    width: 380px;
    position: relative;

    background-color: #95e1d3;
}

.about__item:hover .about__image {
    transform: translate(-10px, -10px);
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__item:hover .about__image img {
    opacity: 0.1;
}


.about__image {
    background: linear-gradient(to bottom, #fce38a, #f38181);

    transition: transform 0.2s linear;
}

.about__image img {
    display: block;

    transition: opacity 0.2s linear;
}

.about__text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    opacity: 0;
    transition: opacity 0.2s linear;
}

/* Stats */
.stats {
    background-color: #95e1d3;
}

.stats__inner {
    display: flex;
}

.stats__item {
    padding: 70px 25px;
    flex-grow: 1;
    flex-shrink: 1;

    border-left: 1px solid #b5eae0;

    text-align: center;

}

.stats__item:last-child {
    border-right: 1px solid #b5eae0;
}

.stats__item__num {
    font-weight: 700;
    font-size: 72px;
    color: #fff;
}


.stats__item__text {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
}

